/*-------------------------
初期値
-------------------------*/
@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  line-height: 2;
  font-feature-settings: "palt";
  text-size-adjust: 100%;
  background-color: #2067ca;
}

a {
  text-decoration: none;
  border-style: none;
  line-height: 3.2em;
}
/*-------------------------
  main
-------------------------*/
h1 {
  text-align: center;
  margin: 40px;
}

.container {
  background-color: #fff;
  max-width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
}
.formcontainer {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
}
.formcontainer input {
  display: block;
  width: 500px;
  margin: 50px auto;
  border: 1px solid #666;
  background-color: #c9dcff;
  border-radius: 3px;
}
button {
  display: block;
  width: 300px;
  margin: 30px auto;
  background-color: #41a941;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 3px;
}
/*-------------------------
  jsエラー表示
-------------------------*/
#msgId,
#msgPs,
.msg {
  margin: -20px auto 10px auto;
  color: red;
}
/*-------------------------
  一覧画面
-------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
th,
td {
  border: 1px solid #ccc;
}
th {
  background-color: #eee;
  padding: 5px;
}

/*-------------------------
  signIn
-------------------------*/
label {
  font-weight: bold;
}
.formcontainer label input {
  margin: 0 auto 30px auto;
}
section.container {
  display: flex;
  justify-content: space-around;
  gap: 6px;
}

#sort {
  padding: 3px;
  margin-bottom: 20px;
}
button.sortBt {
  display: inline;
  width: 100px;
  margin: 0 20px 0 0;
  background-color: #ccc;
  color: #000;
}
/*-------------------------
  編集ボタン
-------------------------*/
button.m_btn {
  display: inline;
  width: 100px;
  background-color: #ccc;
  color: #000;
}
